body {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 20px;
}

h1 {
  color: #ee2b66;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 2;
}

.overview ul {
  margin-bottom: 20px;
  padding: 0;
}

.overview li {
  list-style: none;
  margin-bottom: 5px;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.col-6 li {
  list-style: none;
  margin-bottom: 5px;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  padding: 20px;
  border: 3px solid #e3eaf1e5;
  border-radius: 5px;
}

.weather-app-wrapper .btn {
  display: inline-block;
  background: #ee2b66;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
}

#humidity {
  color: #ee2b66;
}
#wind {
  color: #ee2b66;
}

#city-input {
  background: #f0f4f8;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
}

.weather-temperature img {
  margin-right: 5%;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font: size 13px;
}
