body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 20px;
  color: #878787;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid #f0f4f8;
  border-radius: 5px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.overview ul {
  margin: 0;
  padding: 0;
}

.overview li {
  list-style: none;
  margin-bottom: 5px;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.col-6 li {
  list-style: none;
  margin-bottom: 5px;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

#humidity {
  color: #f65282;
}
#wind {
  color: #f65282;
}

#city-input {
  background: #f0f4f8;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
}

.weather-temperature img {
  margin-right: 5%;
  height: 64px;
  width: 64px;
}

#temperature {
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
}

.cftemplink {
  margin-top: 2%;
  position: relative;
  font-size: 16px;
}
